
$padding: 10px;
$color_text: #323232;
$color_price: #b8b088;
$border_color: rgba(17, 16, 17, 0.3);
$bg_color: rgba(3, 3, 3, 0.03);

.restaurant-menu{
  width: 100%;
  line-height: 1.6;
  color: $color_text;

  &-item{
    padding: $padding;
    padding-right: 90px;
    position: relative;

    border: 1px solid $border_color;
    background-color: $bg_color;

    &-middler{
      display: flex;
      justify-content: center;
      align-content: center;

    }

    $thumb_size: 97px;
    &-thumbnail{
      width: $thumb_size;
      height: $thumb_size;
      flex: 0 0 $thumb_size;

      margin-right: $padding;
      background-size: cover;
      border-radius: 5px;

    }

    & + &{
      margin-top: 10px;
    }

    &-header{
      padding-top: 0;
      margin-top:0;
      margin-bottom:8px;
      line-height: 1;
    }

    &-body{
      &-paragraph{
        font-size: 14px;
      }
    }

    &-price{
      position: absolute;
      top:$padding;
      right:$padding;
      font-size: 27px;

      color: $color_price;

      line-height: 1;

      &-typo{
        &-curr{
          font-size: 15px;
          vertical-align: top;
          display: inline-block;

          position: relative;
          top: 2px;

          margin-right: 3px;
        }
        &-price{

          vertical-align: top;
          display: inline-block;
        }
      }
    }
  }

}

.restaurant-menu{

  &.dark-mode{
    $color_text: #d4caca;
    $border_color: rgba(255,255,255,0.3);
    $bg_color: rgba(255,255,255,0.03);

    .restaurant-menu-item {
      border-color: $border_color;
      background-color: $bg_color;
      color: $color_text;
    }


    .restaurant-menu-item-price {
      color: #b8b088;
    }
  }
}


@media all and (max-width: 700px) {

  .restaurant-menu {
    $thumb_size: 67px;

    &-thumbnail {

      width: $thumb_size;
      height: $thumb_size;
      flex: 0 0 $thumb_size;
    }
  }
}
