.app {
  text-align: left;
}
.app-header{
  width: 100%;
  margin-bottom: 15px;

}

.menu-con{
  cursor: pointer;
}
.app-con{

  max-width: 600px;
}
.app{

  background-color: #1d2134;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header {

}

.App-link {
  color: #61dafb;
}

.restaurant-menu-con{

}
